beautifulsoup4==4.7.1
bs4==0.0.1
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==3.0.3
numpy==1.22.0
pandas==0.24.2
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
pyyaml>=4.2b1
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
soupsieve==1.9
